.profile {
    top: 0;
    padding-left: 10px;
}
.profile > img {
    width: 75px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 
        0 0 10px 10px #fff,
        0 0 20px 10px purple;
}